 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background: linear-gradient(to top, rgb(23, 23, 85), rgb(22, 152, 152));
     height: 100vmin;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .container {
     background-color: rgba(255, 255, 255, 0.1);
     padding: 20px 0px;
     width: 50vw;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .thumb {
     margin-top: 4px;
 }

 button {
     padding: 7px 25px;
     font-weight: 700;
     font-size: 3vmin;
     background-color: rgba(255, 255, 255, 0.1);
     color: white;
     border: none;
     border-radius: 4px;
     margin-top: 5px;
 }

 button:hover {
     background-color: rgb(22, 152, 152);
     color: white;
 }