* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
}

input {
    width: 80%;
    padding: 5px;
}

button {
    width: 20vmin;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

p {
    background-color: white;
    padding: 5px;
    margin-left: 8px;
    border-radius: 6px;
}